@import "compass";
@import "normalize";


/* @group Sketchnotes */

	html {
		background: #222 url("../images/html.png") repeat 0 0;
	}

	body {
		color: #eee;
		font-family: Georgia, "Times New Roman", Times, serif;
		margin: 0 auto;
		max-width: 60%;
		min-width: 280px;
		padding: 0 20px;
	}

	h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
	}

    header[role=banner] {
        background: rgba( 0, 0, 0, 0.3 );
        margin: 0 -20px;
        padding: 20px;
    }

	header[role=banner] h1 {
		font-size: 2.8em;
        margin: 0;
	}

	header[role=banner] h1 a {
		color: #eee;
		text-decoration: none;
	}

	header[role=banner] h1 a:hover {
		text-decoration: underline;
	}

    main[role=main] {
        padding: 20px 0;
    }

	a {
		color: #d82;
		text-decoration: underline;
	}

	img {
		max-width: 100%;
	}

	footer[role=contentinfo] {
        background: rgba( 0, 0, 0, 0.3 );
		font-size: 0.75em;
        margin: 0 -20px;
        padding: 20px;
	}

	footer[role=contentinfo] p {
		margin: 0;
	}

    footer[role=contentinfo] a {
        color: #eee;
    }

	.posts-list {
        font-size: 1.2em;
		list-style: none;
		padding: 0 0 0 1em;
	}

    .posts-list li {
        position: relative;
    }

    .posts-list li:before {
        content: "»";
        display: block;
        left: -1em;
        position: absolute;
        top: 0;
    }

	.posts-list li + li,
    article li + li {
		margin-top: 0.8em;
	}

    .posts-list .category {
        font-size: 0.8em;
    }

    article h1,
    article h2,
    article h3,
    article h4,
    article h5,
    article h6 {
        border-bottom: 2px solid rgba( 0, 0, 0, 0.3 );
        margin-top: 2em;
        padding-bottom: 10px;
    }

    article header h1 {
        border-bottom: none;
        margin-top: 0;
    }

    article header a {
        color: #eee;
        text-decoration: none;
    }

    article header a:hover {
        text-decoration: underline;
    }

    article p,
    article li {
        line-height: 1.5;
    }

    article ul,
    article ol {
        padding-left: 20px;
    }

    article blockquote {
        background: rgba( 0, 0, 0, 0.3 );
        border-radius: 3px;
        padding: 1px 20px;
    }

/* @end */