* {
	@include box-sizing(border-box);
}

html {
	background: $grey inline-image("html.png") repeat 0 0;
}

body {
	@extend %font-source-sans-pro;
	color: $base;
	margin: 0 auto;
	max-width: 45em;
	width: 100%
}

article,
footer,
header,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@extend %font-open-sans;
}

a {
	color: $orange;
	text-decoration: underline;

	.loaded & {
		@include transition;
		@include transition-property(color);
	}

	&:focus,
	&:hover {
		color: $orange--hover;
	}
}

img {
	max-width: 100%;
}