.global-header {
  background: var(--color-black--translucent);
  padding: 1.25em;

  & h1 {
    font-size: 2.8em;
    margin: 0;
  }

  & a {
    color: var(--color-base);
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }
}
