.posts {
  font-size: 1.25rem;
  list-style: none;
  margin: 0;
  padding: 0 0 0 1.75rem;

  li {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    position: relative;

    &::before {
      color: var(--color-white);
      content: "↪";
      left: -1.75rem;
      position: absolute;
      top: 0.125rem;
    }

    &:hover::before,
    &:has(:focus)::before {
      color: var(--color-white-hover);
    }

    + li {
      margin-top: 0.75rem;
    }
  }

  .category {
    background: var(--color-black-translucent);
    border-radius: 0.25rem;
    color: #fff;
    display: inline-block;
    font-size: 1rem;
    margin-left: 0.75rem;
    padding: 0.25rem 0.5rem;
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }
}
