---
layout: "base.liquid"
---

<ol class="posts h-feed" reversed>
  {% for post in collections.post reversed %}
    <li class="h-entry">
      <a href="{{ post.url | remove_last: ".html" }}" class="p-name u-url">{{ post.data.title }}</a>
      <span class="category p-category">{{ post.data.category }}</span>
    </li>
  {% endfor %}
</ol>
